.container {
  display: grid;
  grid-template-columns: 150px 1fr;

  // children
  .aside {
    height: 100vh;
  }

  .header {
    height: 60px;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    //children
    .logo-container,
    .cart-container {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    .logo-container {
      user-select: none;
    }

    .cart-container {
      cursor: pointer;
    }
  }
}
