@import "../../assets/theme/theme.scss";

.container {
  height: 100vh;

  display: grid;
  grid-template-columns: 12% 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "nav header"
    "nav main";

  // children
  .aside {
    grid-area: nav;
  }

  // children
  .header {
    grid-area: header;

    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    // children
    .logo-container,
    .cart-container {
      display: flex;
      align-items: center;
    }

    .logo-container {
      gap: 15px;

      user-select: none;
    }

    .cart-container {
      cursor: pointer;
    }
  }

  .main {
    grid-area: main;

    max-width: 100%;
  }
}
